extends layout

block content
  .main.index
    section.author
      h1= settings.title
        small front-end dev
      .contacts
        each c in contacts
          p
            span=c[0] + ': '
            =c[1]
    section.portfolio
      .portfolio-item
          .image
          .text
            h2 Comming so+++on
      each work in works
        .portfolio-item
          .image(style='background-image:url(/images/preview/' + work.id + '.jpg);')
          .text
            h2= work.name
            p= work.text
            p
              a(href='/portfolio/' + work.id) View project
