extends layout

block content

    #folioList.folio-items.wrap.clearfix
        each item in works
            .folio-item-wrap
                .folio-item.clearfix
                    img(src='/images/preview/' + item.id + '.jpg')
                    .folio-item-info
                        .hidden-xs
                            h3=item.name
                            p
                                span Technologies used:&nbsp;
                                =item.text
                        //.btn.btn-info.disabled 0
                        //button.btn.btn-success Show
