doctype 5
html
  head
    title= settings.title + ' / byzyk'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/javascripts/func.js')
  body    
    block content
    
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37535142-1']);
      _gaq.push(['_setDomainName', 'byzyk.in.ua']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
