doctype 5
html
  head
    title= settings.title + ' / byzyk'

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

  body
    div#loading
        .loading-text loading, please wait
    div
      div.blocks
        block content







    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    //script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/TweenMax.min.js')
    script(src='/javascripts/jquery.superscrollorama.js')
    script(src='/javascripts/scrollTo.min.js')
    script(src='/javascripts/func.js')

    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37535142-1']);
        _gaq.push(['_setDomainName', 'byzyk.com']);
        _gaq.push(['_trackPageview']);
            (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
