extends layout

block content
    a(href='/').btn.btn-success.hidden-xs#backButton portfolio

    iframe(src=path, frameborder="0", border="0", scrolling="auto", width="100%", height="0px", id="folio-view", style="position:relative;top:75px;")
