extends layout

block content
  a#folio-back(href='/') portfolio
  section.portfolio-view
    #folio-detail
      .control Show details
    iframe(src=path, frameborder="0", border="0", scrolling="yes", width="100%", height="100", id="folio-view", onload="document.getElementById('folio-view').height = document.body.scrollHeight - 10;document.body.style.overflow = 'hidden'", style="position:relative;top:-90px;")
