nav ul li a{
	//z-index: expression(runtimeStyle.zIndex = 1, this.innerHTML = this.innerHTML + "<div class='nav-separator'></div>")
}

.wrap{
	padding-top:30px !important;
}

.ie7{
	display:block !important;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:30px;
	line-height:30px !important;
	z-index:100;
	background: #FF6;
	color: #F60;
	font-weight:bold;
	text-align:center;
	border-bottom:1px #F60 solid;
}

.ie7 a,
.ie7 a:visited{
	color: #F30;
}

.ie7 a:hover{
	text-decoration:none;
}