@import "http://fonts.googleapis.com/css?family=Rambla:400,700";
@import "http://fonts.googleapis.com/css?family=Finger+Paint";

@mainWidth: 100%;
@portfolioSize: 250px;
@portfolioBorder: 5px;

/* ---------------------------------------- */
* {
  padding:0;
  margin:0;
}

img {
  border: 0;
}

body {
  color:#333;
  font:14px/1.2 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  background:#fff url(../images/bg.jpg) 0 0 no-repeat;
  height:100%;
}

a, a:visited {
  color:#fff;
}

a:hover {
  color:#777;
}

.main {
  width:@mainWidth;
  height:100%;
  overflow:hidden;
  padding-bottom:100px;
  background:url(../images/planet.png) -50px 486px no-repeat;
  &.index{
    width:900px;
  }
  section {
    float:left;
    &.author {    
      width:250px;
      margin-top:100px;
      h1 {
        font:34px "Rambla", sans-serif;
        margin-left:20px;
        small {
          color:#999;
          display:block;
          font-size:20px;
        }
      }
      .contacts {
        margin-top:120px;
        color:#555;
        font-size:11px;
        span {
          font-weight:700;
          text-align:right;
          width:60px;
          display:inline-block;
          margin-right:7px;
        color:#333;
       }
      }
    }
    &.portfolio {
      padding:0 10px 10px 50px;
      margin-top:60px;
      width:580px;
      overflow:hidden;
      .portfolio-item {
          float:left;        
          width:@portfolioSize - @portfolioBorder * 2;
          height:@portfolioSize - @portfolioBorder * 2;
          margin:0 40px 40px 0;
          position:relative;
      .image {
          width:@portfolioSize - @portfolioBorder * 2;
          height:@portfolioSize - @portfolioBorder * 2;
          border: @portfolioBorder rgba(225,225,225,0.1) solid;
          -webkit-box-shadow:0 0 1px rgba(0,0,0,0.75),
                        inset 0 0 12px rgba(0,0,0,0.4);
          -moz-box-shadow:0 0 1px rgba(0,0,0,0.75),
                        inset 0 0 12px rgba(0,0,0,0.4);
          box-shadow:0 0 1px rgba(0,0,0,0.75),
                        inset 0 0 12px rgba(0,0,0,0.4);
      }
      .text{
        position:absolute;
        top:@portfolioBorder;
        left:@portfolioBorder;
        width:@portfolioSize - @portfolioBorder * 2 - 40;
        height:@portfolioSize - @portfolioBorder * 2;
        background:url(../images/hover.png) 0 0 repeat;
        text-align:center;
        color:#fff;
        padding:0 20px;
        display:none;
        h2 {
          font:28px "Rambla";
          text-shadow:-20px 0px 5px #000, 20px 0px 5px #000;
          margin:90px 0 15px;
          font-weight:400;
        }
        p {
          color:#ddd;
          font-size:15px;
          a {
            font-size:18px;
            display:inline-block;
            margin-top:17px;
          }
        }
      }
      
      & .image {
        background-position:0 0;
        background-repeat:no-repeat;
        background-size:@portfolioSize - @portfolioBorder * 2 @portfolioSize - @portfolioBorder * 2;
      }
      
      }
    }
    
    
      &.portfolio-view {
      width:100%;
      position:relative;
      float:none;
    }
  }
}

#folio-detail {
  height:100px;
  background:#EDEDED;
  position:relative;
  top:-90px;
  left:0;
  z-index:1;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  .control {
    position:absolute;
    bottom:-20px;
    left:10px;
    width:120px;
    height:30px;
    color:#555;
    background:#EDEDED;
    border-radius:10px;
    text-align:center;
    line-height:2;
    font-weight:700;
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    &:hover {
      cursor:pointer;
    }
  }
  h1{
    font:20px "Rambla";    
    padding: 37px 0px 0px 130px;
    float:left;
  }
  .desc{
    float: left;
    margin-left: 50px;
    margin-top:10px;
    border-left:3px #999 solid;
    padding-left:10px;
    .title{
      font-size:24px;
      margin-bottom:5px;
    }
    .url{
      a, a:visited{
        color:#999;
        text-decoration:none;
      }
      a:hover{
        color:#333;
      }
    }
    .text{
      font-size:12px;
      font-style:italic;
      color:#555;
      width:200px;
    }
  }
}

#folio-back, #folio-back:visited{
  position:absolute;
  top:60px;
  left:20px;
  width:100px;
  height:40px;
  z-index:5;
  cursor:pointer;
  border-radius:10px;
  background:#fff;
  text-align:center;
  //text-transform:uppercase;
  font:20px/2 "Rambla", sans-serif;
  font-weight:700;
  opacity:0.75;
  display:block;
  color:#333;
  text-decoration:none;
}

#folio-back:hover {
  opacity:1;
}
