@import "http://fonts.googleapis.com/css?family=Rambla:400,700";

@import "http://fonts.googleapis.com/css?family=Finger+Paint";

@import "http://fonts.googleapis.com/css?family=Quicksand:300,400";
/* ---------------------------------------- */
body {
  font: 14px/1.2 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  height: 100%;
}
.wrap {
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #33ccff;
  color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  font-family: 'Quicksand', sans-serif;
  z-index: 10;
}
header h1,
header h2 {
  margin: 0 0 0 10px;
  padding: 0;
}
header h1 {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 400;
}
header h2 {
  font-size: 14px;
  font-weight: 300;
}
#contactMe {
  position: absolute;
  top: 20px;
  right: 10px;
  padding-bottom: 8px;
}
#headerFull {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s;
}
#headerFull:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
#headerFull.opened {
  line-height: 50px;
  font-size: 18px;
  height: 50px;
}
.folio-items {
  margin-top: 115px;
}
.folio-item {
  position: relative;
  width: 280px;
  height: 280px;
  background-color: #EBFAFF;
  border: 15px solid #EBFAFF;
  margin: 0 auto 30px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.folio-item img {
  width: 250px;
  height: 250px;
}
.folio-item-info {
  position: absolute;
  top: -10px;
  right: -5px;
}
.folio-item-info .btn {
  opacity: 1 !important;
}
.folio-item-info p span {
  color: #666;
}
footer {
  text-align: center;
  margin: 0 0 20px;
}
footer .smile {
  display: inlin-block;
  width: 20px;
  margin: 0 auto;
  cursor: default !important;
  font-size: 35px;
  font-weight: 700;
  color: #ccc;
  transition: -webkit-transform 0.4s 0.1s, color 0.4s 0.1s;
}
footer .smile:hover {
  color: #33ccff;
  transform: rotate(360deg);
  -webkit-transform: rotate(-270deg);
}
@media (min-width: 768px) {
  .wrap {
    width: 768px;
  }
  header h1,
  header h2 {
    text-align: center;
  }
  #contactMe {
    top: 9px;
  }
  .folio-item {
    width: 700px;
    margin: 0 auto 30px;
  }
  .folio-item img {
    float: left;
  }
  .folio-item-info {
    position: static;
    float: left;
    margin-left: 15px;
  }
  .folio-item-info h3 {
    color: #006B8F;
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .wrap {
    width: 900px;
  }
  header h1,
  header h2 {
    text-align: center;
  }
  .folio-item-wrap {
    float: left;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 0 30px 0;
  }
  .folio-item-wrap:nth-child(3n-1) {
    margin: 0 30px;
  }
  .folio-item-wrap:nth-child(3n) .folio-item .folio-item-info {
    margin-left: 0;
    margin-top: 15px;
  }
  .folio-item-wrap:nth-child(3n) .folio-item:hover {
    width: 280px;
    height: 590px;
  }
  .folio-item {
    position: absolute;
    width: 280px;
    margin: 0 0 30px 0;
    overflow: hidden;
    transition: width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
  }
  .folio-item:hover {
    width: 590px;
    background-color: #D6F5FF;
    border-color: #D6F5FF;
    z-index: 5;
  }
  .folio-item:hover .folio-item-info {
    opacity: 1;
  }
  .folio-item-info {
    width: 280px;
    height: 280px;
    opacity: 0;
    transition: opacity 0.2s 0.2s;
  }
}
