html,
body {
  background: #009b3a url("../img/bg-stadium.png") 50% 0 no-repeat;
  min-width: 1000px;
}
body {
  position: relative;
  font-family: Roboto, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bg {
  background: url("../img/bg.png") 0 0 no-repeat;
  position: absolute;
  z-index: 0;
}
.bg.bg-1 {
  background-position: 0 0;
  width: 240px;
  height: 83px;
  top: 100px;
  right: 0;
}
.bg.bg-2 {
  background-position: 0 -83px;
  width: 235px;
  height: 202px;
  top: 735px;
  left: 0;
}
.bg.bg-3 {
  background-position: 0 -285px;
  width: 307px;
  height: 510px;
  top: 50%;
  right: 0;
}
.wrap {
  width: 987px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
header {
  padding: 200px 0 40px;
  height: 115px;
}
header .header-inner {
  float: left;
}
.logo {
  background: url("../img/logo.png") 0 0 no-repeat;
  width: 177px;
  height: 115px;
  position: relative;
}
.logo a {
  display: block;
  position: absolute;
  top: 97px;
  left: 99px;
  color: #1a1a1a;
  font-size: 16px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.logo a:hover {
  color: #ffffff;
}
.phone {
  width: 657px;
  color: #ffffff;
  text-align: right;
}
.phone .phone-number {
  font-size: 53px;
  line-height: 0.9em;
}
.phone .phone-text {
  padding-right: 10px;
}
.phone .phone-text a {
  color: #ffffff;
  font-size: 26px;
}
.cart {
  width: 96px;
  height: 110px;
  margin: 5px 0 0 57px;
}
.cart .cart-link {
  display: block;
  width: 96px;
  height: 110px;
  background: #1a1a1a url("../img/cart.png") 0 11px no-repeat;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.cart .cart-link:hover {
  background: #ffffff url("../img/cart.png") -96px 11px no-repeat;
  color: #1a1a1a;
}
.cart .cart-link .cart-amount {
  font-size: 37px;
  padding: 10px 0 6px;
}
.cart .cart-link .cart-text {
  text-decoration: underline;
  margin-top: 13px;
}
.layout {
  background: #ffffff url("../img/dot.png") 0 -7px repeat-x;
  padding-bottom: 50px;
}
.layout-wrap {
  width: 900px;
  margin: 0 auto;
}
.button {
  font-size: 15px;
  color: #ffffff;
  text-transform: lowercase;
  background-color: #ff6600;
  padding: 6px 15px 8px;
  border: 0;
  text-decoration: underline;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}
.button:hover {
  background-color: #ffa366;
}
.button.button-large {
  font-size: 25px;
  padding: 8px 20px 11px;
}
input[type="text"] {
  border: 0;
  border-bottom: 2px solid #1a1a1a;
  font: 18px Roboto;
  color: #1a1a1a;
  padding: 3px 0;
}
input[type="text"]:focus {
  outline: 0;
}
.menu-icon {
  background: url("../img/menu-icons.png") 0 0 no-repeat;
  width: 19px;
  height: 26px;
  display: inline-block;
  float: left;
  margin: 4px 10px 0 30px;
}
.menu-icon.menu-icon-1 {
  background-position: 0 0;
}
.menu-icon.menu-icon-2 {
  background-position: -19px 0;
}
.menu-icon.menu-icon-3 {
  background-position: -38px 0;
}
.menu-icon.menu-icon-4 {
  background-position: -57px 0;
}
.menu-icon.menu-icon-5 {
  background-position: -76px 0;
}
nav {
  padding-top: 20px;
}
nav ul li {
  float: left;
}
nav ul li:last-child a {
  width: 199px;
}
nav ul li a {
  display: block;
  width: 197px;
  padding: 15px 0;
  font: 16px "Roboto Condensed", sans-serif;
  line-height: 1em;
  font-stretch: ultra-condensed;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #1a1a1a;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}
nav ul li a:hover {
  background-color: #009b3a;
}
nav ul li a.active {
  color: #1a1a1a;
  background-color: #ffffff;
}
nav ul li a.active .menu-icon-1 {
  background-position: 0 -26px;
}
nav ul li a.active .menu-icon-2 {
  background-position: -19px -26px;
}
nav ul li a.active .menu-icon-3 {
  background-position: -38px -26px;
}
nav ul li a.active .menu-icon-4 {
  background-position: -57px -26px;
}
nav ul li a.active .menu-icon-5 {
  background-position: -76px -26px;
}
.bold {
  font-weight: 700;
}
.link-orange {
  color: #ff6600;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}
.link-orange:hover {
  color: #ffa366;
}
.link-green {
  color: #009b3a;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}
.link-green:hover {
  color: #00ce4d;
}
.link-margin {
  margin-left: 25px;
}
.link-newline {
  display: block;
}
.link-large {
  font-size: 30px;
}
.link-tour-back {
  margin: 20px 0 30px;
}
.list li {
  background: url("../img/dots.png") 0 -67px no-repeat;
  padding-left: 20px;
}
.page-header {
  font-size: 30px;
  color: #1a1a1a;
  margin: 25px 0 30px;
}
.text-header {
  font-size: 23px;
  color: #1a1a1a;
  font-weight: 700;
  margin: 0 0 30px;
}
.text-page {
  font-size: 16px;
  color: #1a1a1a;
  text-align: justify;
  margin: 0 0 25px;
}
.text-center {
  text-align: center;
}
.text-green {
  color: #009b3a;
}
.text-img-left {
  float: left;
  margin: 0 30px 15px 0;
}
.text-img-right {
  float: right;
  margin: 0 0 15px 30px;
}
.page-header + .list {
  margin-top: -20px;
}
.black-hero {
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 15px;
  margin-top: 30px;
}
.black-hero h3 {
  margin: 0;
  font-size: 28px;
}
.black-hero p {
  font-size: 20px;
  margin: 0;
}
.black-hero-large {
  padding: 30px 35px 40px;
}
.black-hero-large h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
.black-hero + .table-header {
  margin-top: 0;
}
.table-header {
  font-size: 23px;
  color: #ffffff;
  margin: 15px 0 0;
  background-color: #009b3a;
  font-weight: 700;
  text-align: center;
  padding: 14px 0;
}
.table {
  width: 900px;
  margin: 0;
  color: #333333;
  font-size: 15px;
  text-align: left;
}
.table .w12 {
  width: 900px;
}
.table .w11 {
  width: 825px;
}
.table .w10 {
  width: 750px;
}
.table .w9 {
  width: 675px;
}
.table .w8 {
  width: 600px;
}
.table .w7 {
  width: 525px;
}
.table .w6 {
  width: 450px;
}
.table .w5 {
  width: 375px;
}
.table .w4 {
  width: 300px;
}
.table .w3 {
  width: 225px;
}
.table .w2 {
  width: 150px;
}
.table .w1 {
  width: 75px;
}
.table tr:not(:last-child) {
  border-bottom: 2px solid #e9e9e9;
}
.table.bordered th {
  border-right: 2px solid #ffffff;
}
.table.bordered th:first-child {
  border-left: 2px solid #e9e9e9;
}
.table.bordered th:last-child {
  border-right: 2px solid #e9e9e9;
}
.table.bordered td {
  border: 2px solid #e9e9e9;
}
.table th,
.table td {
  padding: 12px;
}
.table th {
  background-color: #e6e6e6;
  font-weight: 400;
}
.table .right {
  text-align: right;
}
.table + .table-header {
  margin-top: 40px;
}
.table-sublink {
  display: block;
  font-size: 26px;
  color: #333333;
  width: 300px;
  margin: 10px auto 50px;
  text-align: center;
}
.flag {
  display: inline-block;
  width: 20px;
  height: 12px;
  background-color: #e6e6e6;
}
.tour-overview {
  margin: 0 0 30px;
}
.tour-overview .tour-overview-inner {
  width: 400px;
  min-height: 100%;
  padding: 25px;
  font-size: 20px;
}
.tour-overview .tour-overview-inner p {
  margin: 0;
}
.tour-overview .tour-overview-gray {
  color: #373435;
  background-color: #e6e6e6;
}
.tour-overview .tour-overview-green {
  color: #ffffff;
  background: #009b3a url("../img/shirt.png") 56px 31px no-repeat;
  padding-left: 125px;
  width: 300px;
  vertical-align: top;
}
.contact .contact-inner {
  float: left;
  width: 450px;
}
.contact .contact-inner h3 {
  font-size: 25px;
  color: #1a1a1a;
  margin: 40px 0 15px;
}
.contact .contact-inner p {
  font-size: 18px;
  color: #1a1a1a;
}
.contact .contact-subscribe {
  padding-left: 40px;
  width: 410px;
}
.subscribe-form input[type="text"] {
  width: 265px;
  margin: 10px 0;
}
.subscribe-form .button {
  margin-top: 35px;
}
footer {
  background: #1a1a1a url("../img/footer-sits.png") 100% 280px no-repeat;
  height: 350px;
}
.social {
  width: 432px;
  margin: 40px auto;
}
.social li {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 32px;
}
.social li a {
  background: url("../img/social.png") 0 0 no-repeat;
  width: 80px;
  height: 80px;
  display: block;
}
.social li a.vk {
  background-position: 0 0;
}
.social li a.fb {
  background-position: 0 -80px;
}
.social li a.ok {
  background-position: 0 -160px;
}
.copyright {
  margin-left: 40px;
}
.copyright > div {
  float: left;
  height: 60px;
}
.copyright .copy {
  width: 200px;
  background: url("../img/copy.png") 0 0 no-repeat;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-indent: 70px;
  line-height: 60px;
}
.copyright .mv {
  background: url("../img/mv.png") 0 0 no-repeat;
  width: 173px;
  height: 60px;
}
.copyright .authors {
  float: right;
  font-size: 9px;
  color: #ffffff;
  font-weight: 400;
  margin-right: 20px;
}
.copyright .authors a {
  color: #ffffff;
}
.spacer {
  background: url("../img/dot.png") 0 0 repeat-x;
  height: 13px;
  position: relative;
  top: -7px;
}
